<div class="card mb-6">
    <header class="card-header card-header-title bg-secondary">

        <a href="/post/{{id}}" style="text-decoration: none;" class="d-flex flex-row justify-content-between">
            <h4 class="text-light" >{{title}}</h4>
            <p class="text-light">posted by <b>{{user.username}}</b> on {{format_date created_at}}</p>
        </a>

    </header>

    <div class="card-contentm m-2">
        <div>
            {{post_content}}
        </div>
    </div>
</div>